name: 04 - Using Actions

on: workflow_dispatch

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            # - name: Printing Folders

        # 1. Install dependencies of our react application
        # 2. execute automated tests